body{
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;}

video {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;}

audio {
    width: 100%;
    margin: 10px auto;}

table{
    max-width: 500px;
    margin: 15px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}
    
thead{
    background-color: #6B95BF;}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;}